@model WebModel
@{
    ViewData["Title"] = "Carrito";
    Layout = null;
}
@inject LanguageService language
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@language.Getkey("Carrito compra")</title>
    <meta content="text/html; charset=utf-8" />
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript" src="js/jquery-1.12.3.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link href="Orden.css" rel="stylesheet">
</head>
<body>
    <!-- Orden de compra -->
    <div id="ordenCompra">
        <header>            
            <div class="container">
                <div class="col-xs-3 col-md-3">
                    <img alt="logo" src="/imagen/logo.jpg" height="50px;">
                </div>
                <div class="col-xs-9 col-md-9">
                    <h4>@language.Getkey("LICORERIA M&S")</h4>
                    <p id="fecha">Fecha: 26/09/2021</p>
                    <p>
                        Av. Raymondi 200 Tingo María, Huánuco, Perú
                    </p>
                </div>
            </div>
            <div class="container" id="datosProveedor">
                <div class="col-xs-12 col-md-12">
                    <h4>@language.Getkey("Datos del Cliente")</h4>
                    <p>Nombres      :   @Model.usuario.Nombres</p>
                    <p>Apellido     :   @Model.usuario.Apellido</p>
                    <p>Dirección    :   @Model.usuario.Direccion</p>
                    <p>Referencia   :   @Model.usuario.Referencia</p>
                    <p>Celular      :   @Model.usuario.NumeroCelular</p>

                </div>
            </div>
        </header>
        <!-- Cuerpo -->
        <section>
            <div class="container">
                <div class="col-xs-12 col-md-12">
                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>                                
                                <th scope="col">@language.Getkey("Producto")</th>
                                <th scope="col">@language.Getkey("Precio Unitario")</th>
                                <th scope="col">@language.Getkey("Cantidad")</th>
                                <th scope="col">@language.Getkey("Subtotal")</th>
                                <td scope="col">@language.Getkey("Eliminar")</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ItemsCarrito.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.ItemsCarrito[i].ProductoNombre</td>
                                    <td>@Model.ItemsCarrito[i].ProductoPrecio</td>
                                    <td>
                                        <script language="javascript">
                                            function validaCantidad(form) {
                                                if (form.cantidad.value < 1) {
                                                    form.cantidad.value = 1;
                                                    alert(@language.Getkey("Alerta1"));
                                                }
                                                if (form.cantidad.value > 10) {
                                                    form.cantidad.value = 10;
                                                    alert(@language.Getkey("Alerta2"));
                                                }
                                            }
                                        </script>
                                        <form name="form" method="post" asp-controller="CarritoCompra" asp-action="ActualizarCarrito" asp-route-id=@Model.ItemsCarrito[i].Id>
                                            <input type="text" name="cantidad" value="@Model.ItemsCarrito[i].Cantidad" size="2" readonly />
                                            <input type="button" value="-" onclick="cantidad.value--; validaCantidad(this.form)" />
                                            <input type="button" value="+" onclick="cantidad.value++; validaCantidad(this.form)" />
                                            <button type="submit" class="btn btn-primary btn-sm py-2 border-bottom-0 px-5 me-3"> <i class="fas fa-shopping-bag py-1 me-2"></i>@language.Getkey("Actualizar")</button>
                                        </form>
                                    </td>
                                    <td>@Model.ItemsCarrito[i].Subtotal</td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="CarritoCompra" asp-action="Delete" asp-route-id=@Model.ItemsCarrito[i].Id>@language.Getkey("Eliminar")</a>
                                    </td>
                                </tr>
                            }
                        <tr>                         
                            <td> </td>
                            <td> </td>
                            <th>@language.Getkey("Total a Pagar")</th>
                            <td>@Model.MontoTotalCarrito</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <footer>
            <div class="container text-center">
                <div>
                    <form class="d-flex">
                        <a class="btn btn-success" asp-controller="home" asp-action="Index">@language.Getkey("Seguir Comprando")</a>
                        <a class="btn btn-success" asp-controller="CarritoCompra" asp-action="ApiWsp">@language.Getkey("Confirmar Compra")</a>
                    </form>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>











